<div class="row section-add-recipe">
  <div class="col col-12">
    <h2 class="red">Ajouter une recette</h2>
  </div>

  <div class="col col-12">
    <div class="form-group">
      <input [(ngModel)]="recipe.recipe_id" type="number" class="form-control" placeholder="Identifiant de la recette (nombre)...">
    </div>
    <div class="form-group">
      <input [(ngModel)]="recipe.title" type="text" class="form-control" placeholder="Titre de la recette..." required>
    </div>
    <div class="form-group">
      <input [(ngModel)]="recipe.image_url" type="text" class="form-control" placeholder="URL de l'image..." required>
    </div>
    <div class="form-group">
      <input [(ngModel)]="recipe.publisher" type="text" class="form-control" placeholder="Auteur...">
    </div>
    <div class="form-group">
      <input [(ngModel)]="recipe.publisher_url" type="text" class="form-control" placeholder="URL de l'auteur...">
    </div>
    <div class="form-group">
      <textarea [(ngModel)]="recipe.ingredients" type="text" class="form-control" placeholder="Ingrédients..."></textarea>
    </div>
  </div>
  <div class="col col-12 text-center">
    <input (click)="isSubmitted = true" type="submit" class="btn btn-primary" value="Ajouter">    
  </div>

  <div class="col col-12 response" *ngIf="isSubmitted == true">
    <div class="alert alert-success">
      <p>Vous avez ajouté la recette :</p>
      <h3>{{ recipe.title }}</h3>
      <p>{{ recipe.recipe_id }}</p>
      <img src="{{ recipe.image_url }}">
      <p><a href="{{ recipe.publisher_url }}" target="_blank">{{ recipe.publisher }}</a></p>
      <p>{{ recipe.ingredients }}</p>
    </div>
  </div>
</div>