@import "../../colors";
@import "../../mixins";

.section-recipes {
    .recipe {
        position: relative;
        padding: 0;
        box-shadow: 0 8px 26px rgba(45, 42, 50, 0.1);
        border-radius: 12px;

        .container-img {
            position: relative;
            width: 30%;
            padding-top: 100%;

            img {
                position: absolute;
            }
        }

        .container-infos {
            text-align: center;

            .recipe-title {
                font-size: 0.9em;
                font-weight: 600;
                margin-bottom: 0;
            }

            .recipe-publisher {
                font-size: 0.8em;
            }
        }
    }
}