<div class="section-recipes">
  <div class="row recipe-actions">
    <div class="col col-12 col-md-6 search-recipe">
      <input [(ngModel)]="term" type="text" class="form-control" placeholder="Chercher une recette...">
    </div>

    <div class="col col-12 col-md-6 add-recipe text-right">
      <a href="/ajouter-recette" class="btn btn-primary">+ Ajouter une recette</a>
    </div>
  </div>

  <div class="row">
    <div class="col col-12 col-md-6 col-lg-4 recipe" *ngFor="let recipe of recipesList | filterByName : term" [routerLink]="['/recette', recipe.recipe_id]">
      <div class="container-img">
        <img src="{{ recipe.image_url }}" class="img-center">
      </div>
  
      <div class="container-infos">
        <p class="recipe-title">{{ recipe.title }}</p>
        <p class="recipe-publisher">Publisher: {{ recipe.publisher }}</p>
      </div>
  
      <div class="container-link btn btn-primary">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
  </div>
</div>