.section-ingredients {
    margin-top: 20px;
    
    .container-ingredient {
        .card {
            display: flex;
            justify-content: center;
            padding: 10px 15px;
            text-align: center;
            margin-bottom: 20px;
        }
    }
}