@import "../../colors";
@import "../../mixins";

.section-ingredients {
    .container-ingredient {
        .card {
            margin-bottom: 20px;
            padding: 15px 10px;
            text-align: center;
            box-shadow: 0 8px 26px rgba(45, 42, 50, 0.1);
            border-radius: 12px;
            color: $green;
            font-weight: 600;
            border: none;
        }
    }
}