@import "../../colors";
@import "../../mixins";

.container-recipe {
    .container-img {
        position: relative;
        overflow: hidden;
        height: 65vh;
        border-radius: 14px;
        box-shadow: 0 25px 46px rgba(45, 42, 50, 0.3);

        @media screen and (max-width: 767px) {
            max-height: 45vh;
            margin-bottom: 30px;
        }
        @media screen and (max-width: 576px) {
            max-height: 25vh;
        }
    }

    .container-recipe {
        .recipe-header {
            h3 {
                font-size: 1.7em;
                font-weight: 700;
                margin-bottom: 10px;

                @media screen and (max-width: 576px) {
                    font-size: 1.4em;
                    margin-bottom: 5px;
                }
            }

            a {
                color: $red;
            }

            @media screen and (max-width: 767px) {
                text-align: center;
            }
        }

        .recipe-publisher {
            font-weight: 600;
        }

        .recipe-ingredients {
            margin-top: 30px;

            .card {
                margin-bottom: 20px;
                padding: 15px 10px;
                text-align: center;
                box-shadow: 0 8px 26px rgba(45, 42, 50, 0.1);
                border-radius: 12px;
                // color: $green;
                font-weight: 600;
                border: none;
            }
        }
    }
}