<div class="row section-home">
    <div class="col col-12">
        <p>Bienvenue sur l'application VeggieTime, votre fournisseur de recettes végétariennes !</p>

        <p>Vous pouvez accéder à :</p>
        <ul>
            <li><a href="/recettes">une liste de recettes</a></li>
            <li><a href="/ingredients">une liste d'ingrédients</a></li>
            <li><a href="/contact">un formulaire de contact</a></li>
        </ul>

        <p>Usage de l'API limité à 50 requêtes / jour.</p>

        <p>Ce projet est réalisé dans le cadre du cours Développement mobile web en 3ème année de licence informatique à l'ISFATES par Marie-Lou Wechsler.</p>
    </div>
</div>