<div class="section-home">
    <h2>Bienvenue</h2>

    <p>Veggie Time est une application vous permmettant d'afficher des recettes (végétariennes) aléatoires.</p>

    <p>Pour commencer, faites un tour sur les pages suivantes&nbsp;:</p>
    <ul>
        <li><a href="/recettes">liste de recettes</a></li>
        <li><a href="/ingredients">liste d'ingrédients</a></li>
        <li><a href="/contact">formulaire de contact</a></li>
    </ul>

    <p>Usage de l'API limité à 50 requêtes / jour.</p>
    <p>Ce projet est réalisé dans le cadre du cours Développement mobile web en 3ème année de licence informatique à l'ISFATES par Marie-Lou Wechsler.</p>
</div>